# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# TypeScript build output
dist/

# OS / IDE / tooling
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
.prettierrc

# Test coverage / build artifacts (if used in future)
coverage/
*.tsbuildinfo